.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40rem;
}

.search-bar {
  width: 35%;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: medium;
  min-height: 1rem;
}

.search-button {
  font-size: medium;
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  width: 7rem;
  min-height: 1rem;
}

.recipe-app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.recipe-container {
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  width: 40rem;
  margin: 20px auto;
}

.recipe-container ul {
  list-style: none;
}

.recipe-container ul li {
  justify-content: left;
}

.header-container {
  text-align: center;
  padding-top: 10px;
}

img {
  margin: 1rem;
}
